.button-whatsapp {
    height: 80px;
    width: 80px;
    background: url('../../../assets/icons/whatsapp.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    text-align: center;
    transform: rotate(190deg) scale(1.0);
    position: fixed;
    bottom: 50px;
    right: 20px;
    cursor: pointer;
    filter: saturate(0%);
    z-index: 9999;
}

.button-whatsapp:hover {
    animation: pulseButtonTop 500ms infinite;
    transform: rotate(190deg) scale(1.0);
    filter: saturate(100%);
}

@keyframes pulseButtonTop {
    0% {transform: rotate(190deg) scale(1.0)}
    50% {transform: rotate(190deg) scale(1.01)}
    100% {transform: rotate(190deg) scale(1.0)}
}