.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 280px));
    grid-auto-rows: 300px;
    gap: 100px 20px;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
}