.knowledge-box {
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.knowledge-box .image {
    object-fit: contain;
    height: 80%;
}

.knowledge-box .main-title {
    margin-bottom: 15px;
    color: var(--main-color);
    letter-spacing: 5px;
}