.knowledge-box {
    border-radius: 20px;
    padding: 20px;
    display: table;
    flex-direction: column;
    align-content: center;
}

.knowledge-box .image {
    object-fit: contain;
    width: 100%;
}

.knowledge-box .main-title {
    margin-bottom: 15px;
    letter-spacing: 5px;
}

.knowledge-box figcaption {
    display: table-caption;
    caption-side: top;
}