.main-title {
    font-size: 2rem;
    font-weight: 500;
    color: var(--white);
    text-align: center;
}

.main-title.-small {
    font-size: 1.5rem;
}

.main-title.-medium {
    font-size: 2.5rem;
}

.main-title.-big {
    font-size: 3.5rem;
}

.main-title.-mainColor {
    color: var(--main-color);
}

.main-title.-line::after {
    content: '';
    width: 80px;
    height: 3px;
    margin: 10px auto 0px auto;
    display: block;
    background: var(--main-color);
}