.main-logo {
    margin: 0;
    width: 70px;
    border: 2px solid var(--main-color);
    border-radius: 10%;
    text-align: center;
}

.main-logo .anchor {
    font-size: 3rem;
    font-weight: 600;
    color: var(--white);
    transition: all 200ms linear;
}

.main-logo .anchor:hover {
    color: var(--main-color);
    text-shadow: 1px 1px 0px var(--white);
}