.main-header {
    width: 100%;
    background: var(--black);
    z-index: 99;
}

.main-header .content-wrapper {
    display: flex;
    justify-content: space-between;
}

.main-header .navigation {
    display: flex;
    align-items: center;
}

.main-header .navigation .anchor {
    cursor: pointer;
    user-select: none;
}

@media (max-width: 850px) {
    .main-header .navigation .list-menu .list:not(:last-child) {
        display: none;
    }
}