.main-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../../assets/images/background/background-site-on.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-banner .image {
    width: 300px;
    height: 300px;
    padding: 5px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

.main-banner .main-title {
    margin-top: 30px;
}