::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--second-black);
  box-shadow: inset 0 0 3px var(--main-color); 
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
}